<div class="container text-center">
  <div class="header">
    <h1>Angular Quiz</h1>
  </div>
  <div class="content">
    <h3>Rules:</h3>
    <p>For each correct answer, 3 points are added</p>
    <p>For each wrong answer, 1 point is subtracted</p>
    <p>For questions with no answer, no points are added or subtracted</p>
    <p>
      To start the Angular Quiz, please enter your First and Last name in the
      form below
    </p>
  </div>
  <form
    class="card card-body mt-3"
    [formGroup]="userForm"
    (ngSubmit)="onFormSubmit()"
  >
    <input
      formControlName="firstName"
      class="form-control"
      placeholder="First Name"
      [ngClass]="{
        'is-invalid':
          userForm.get('firstName')?.invalid && userForm.get('firstName')?.dirty
      }"
    />

    <div
      class="alert alert-danger"
      *ngIf="userForm.get('firstName')?.errors?.['required'] && userForm.get('firstName')?.dirty"
    >
      Name is required!
    </div>
    <div
      class="alert alert-danger"
      *ngIf="userForm.get('firstName')?.errors?.['minlength'] && userForm.get('firstName')?.dirty "
    >
      Name must contain atleast 3 characters!
    </div>
    <input
      formControlName="lastName"
      class="form-control"
      placeholder="Last Name"
      [ngClass]="{
        'is-invalid':
          userForm.get('lastName')?.invalid && userForm.get('lastName')?.dirty
      }"
    />
    <div
      class="alert alert-danger"
      *ngIf="userForm.get('lastName')?.errors?.['required'] && userForm.get('lastName')?.dirty "
    >
      Last Name is required!
    </div>
    <div
      class="alert alert-danger"
      *ngIf="userForm.get('lastName')?.errors?.['minlength'] && userForm.get('lastName')?.dirty"
    >
      Last name must contain atleast 3 characters!
    </div>
    <div *ngIf="isFormValid.value === false" class="alert alert-danger">
      please fill the form
    </div>

    <button class="btn btn-primary" type="submit">Start</button>
  </form>
</div>
